src/main/mule/project-august.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e39822ba-15ad-44f9-9b81-739f8a7b3bab" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="project-augustFlow" doc:id="43c1c394-23fc-429d-8c04-2cf5934687b6" >
		<http:listener doc:name="Listener" doc:id="048c8f72-effd-4166-8159-1bb9c957767a" config-ref="HTTP_Listener_config" path="/august"/>
		<set-payload value='#["Hello from Pulkit"]' doc:name="Set Payload" doc:id="a0d36a13-8b16-4ac5-b1c1-a191363c9762" />
	</flow>
</mule>
